a,h3,strong{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	color: white;
}
a:hover,strong:hover{
  transition:0.5s color ease;
	color:#d73444;
}
p {
  color: #626262;
  line-height: 20px;
}

body {
  background-color: black;
}

/* CONTACT STYLING */

.contact_div {
  padding: 50px;
}
.contact_div h3 {
  color: #626262;
}
.contact_div a {
  font-weight: bold;
}
