@font-face {
	font-family: openSans;
	src: url('/Fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: openSansBOLD;
	src: url('/Fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: noteworthy;
	src: url('/Fonts/Noteworthy.ttc');
}

*{
	padding: 0;
	margin: 0;
}

html {
  height: 100%;
}
body {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
	overflow: hidden;
}

.land {
	width: 100%;
	height: 100%;
	margin: auto;
	background-image: url(Images/lander.png);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	display: table;
	top: 0;
}

.welcome {
	top: 35vh;
	right: 0;
	left: 0;
	text-align: center;
	color: white;
	font-size: 200pt;
	font-family: openSans;
	vertical-align: center;
	position: absolute;
}



.title {
	font-family: openSans;
	float: left;
	color: red;
	font-size: 600%;
	text-indent: 10%;

}

.ABOUT_ME {
	float: left;
	font-family: openSans;
	text-align: left;
	font-size: 240%;
	text-indent: 10%;

}

.img-circle {
	float: right;
	margin: 50 auto;

}

.PORTFOLIO {
	color: white;
	font-family: openSansBOLD;
	text-align: center;
	font-size: 1000%;
}

.btn1 {
	opacity: 0.75;
	color: #FFFFFF;
	/* background-color: #95a5a6; */
	border-radius: 9px;
	border-color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: solid #FFFFFF 3px;
	width: 500px;
	height: 125px;
	position: absolute;
	font-size: 80pt;
	left: 0;
	right: 0;
	vertical-align: middle;
	top: 130vh;
	text-decoration:none
}

.btn2 {
	opacity: 0.75;
	color: #FFFFFF;
	/* background-color: #95a5a6; */
	border-radius: 9px;
	border-color: white;
	text-align: center;
	margin-left: 25%;
	margin-right: auto;
	border: solid #FFFFFF 3px;
	width: 500px;
	height: 125px;
	position: absolute;
	font-size: 80pt;
	left: 0;
	right: 0;
	vertical-align: middle;
	top: 130vh;
	text-decoration:none
}

.btn3 {
	opacity: 0.75;
	color: #FFFFFF;
	/* background-color: #95a5a6; */
	border-radius: 9px;
	border-color: white;
	text-align: center;
	margin-left: auto;
	margin-right: 25%;
	border: solid #FFFFFF 3px;
	width: 520px;
	height: 125px;
	position: absolute;
	font-size: 80pt;
	left: 0;
	right: 0;
	vertical-align: middle;
	top: 130vh;
	text-decoration:none
}
