@font-face {
	font-family: openSans;
	src: url('/Fonts/OpenSans-Regular.ttf');
}

*{
	padding: 0;
	margin: 0;
}
.land {
	width: 100%;
	height: 100%;
	margin: auto;
	background-image: url(Images/lander.png);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	display: table;
	top: 0;
}

.land .welcome {
	display: table-cell;
	/* vertical-align: middle; */
	vertical-align: middle;
	max-width: none;
}
.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.content h1 {
	/* vertical-indent: 90%; */
	text-indent: 120%;
	font-family: openSans;
	color: white;
	font-size: 100px;
}




.container {
  width: 100%;
  height: 100%;
}



.second {
	font-family: openSans;
	text-align: left;
	font-size: 200%;
	text-indent: 10%;

}

.title {
	color: red;
	font-size: 500%;
	text-indent: 10%;

}


.btn1 {
	text-align: center;
	width:300px;
	font-family: openSans;
	font-size: 50pt;
	border: solid 2px #F3F9F4;
	border-radius: 50px;
	padding: 10px 80px

}
