@import "~antd/dist/antd.css";

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

.map {
  height: 100%;
}

.navTile {
  width: 400px;
  position: absolute !important;
  right: 10px;
  top: 10px;
  z-index: 1000;
}

.interestTile {
  width: 400px;
  position: absolute !important;
  right: 10px;
  top: 220px;
  z-index: 1000;
}
