@import "~antd/dist/antd.css";

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

.contentStyle {
  height: 100vh;
  color: #fff;
  line-height: 100vh;
  text-align: center;
  background-color: black;
}

.contentStyle h3,
p,
a {
  color: #fff;
  text-align: center;
  z-index: 1000;
}
