@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-image {
  border-width: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
}
